
         @import url('https://fonts.googleapis.com/css2?family=Just+Me+Again+Down+Here&family=Nanum+Pen+Script&display=swap');
              @import url('https://fonts.googleapis.com/css2?family=Ms+Madi&display=swap');
           body {
    background-image: url(img/mejorada.jpg); /* Reemplaza 'ruta_de_tu_imagen.jpg' con la ruta real de tu imagen */
    background-repeat: no-repeat; /* Evita que la imagen se repita */
    background-size: cover; /* Ajusta el tamaño de la imagen para cubrir el área visible */
    background-attachment: scroll; /* La imagen se desplaza con el scroll */
          }
/*
           .uno{
               width: 100px;
               height: 100px;
               position: absolute;
               top: 0;
               left: 0;
               z-index: 0;
               background-color: beige;
           }
           
           .dos{
               width: 100px;
               height: 100px;
               top: 0;
               left: 20px;
               z-index: -1;
               background-color: burlywood;
           }
           .tres{
               width: 1400px;
               height: 300px;
               margin-top: 30px;
               background-color:darkgoldenrod;
           }
           */


     .hex {
            background-color: #3592d0;
            color: white;
        }
 
        .keyword {
            background-color: beige;
            color: black;
        }
 
        .rgb {
            /*Define los niveles de Rojo, Verde y Azul*/
            background-color: rgb(46, 204, 113);
            color: white;
        }
 
        .rgba {
            background-color: rgba(231, 77, 60, 0.662);
            color: white;
        }
 
        .hsl {
            /*Se basa en el círculo cromatico
        h = Hue (tono, 0–360°, como un ángulo en el círculo de color)
        s = Saturation (saturación, 0%–100%)
        l = Lightness (luminosidad, 0%–100%)
        */
            background-color: hsl(200, 64%, 51%);
            color: white;
        }
 
        .hsla {
            background-color: hsla(300, 100%, 50%, 0.604);
            color: white;
        }
 
        div {
            padding: 10px;
            margin: 5px;
            font-family: sans-serif;
        }
 
        .parallax {
            /* The image used */
            background-image: url("https://i.blogs.es/1da08b/1366_2000-9-/1366_2000.jpeg");
 
            /* Set a specific height */
            height: 500px;
 
            /* Create the parallax scrolling effect */
            background-attachment: fixed;
            background-repeat: no-repeat;
            background-size: cover;
        }

           .hermano{
               height: 240px;
               width: 240px;
               background-color: brown;
               margin: 75px;
               float: left; 
               
           }
             
           h1{
               background-color: darkred;
               height: auto;
               width: auto;
               font-family: "Just Me Again Down Here";
               text-align: center; /* Centra el texto */
               padding: 50px; /* Espacio entre el texto y el borde */
               color: darkkhaki; /* Color del texto */      
           }
               
           h2{
               background-color: darkred;
               height: auto;
               width: 500px;
               font-family: "Just Me Again Down Here";
               text-align: center; /* Centra el texto */
               padding: 50px; /* Espacio entre el texto y el borde */
               color: darkkhaki; /* Color del texto */
               padding-left: 80px;
             padding-bottom: 30px
           }
               h4{
               background-color:darkolivegreen;
               height: auto;
               width: 240px;
                font-family: "Nanum Pen Script";
             font-style: normal;
                   font-size: 20px;
               text-align:justify; /* Centra el texto */
               padding: 50px; /* Espacio entre el texto y el borde */
               color:beige; /* Color del texto */      
           }
           .titulo-mas-grande {
             background-color: darkkhaki;
             font-size: 100px; /* Puedes ajustar el tamaño */
             font-family: "Nanum Pen Script";
             font-style: normal;
             color: brown;
             text-align:center;
                }
           
                #imguno {
                width: 240px;
                height: auto;  
                display:flow-root;
                margin-left: auto;
                margin-right: auto;
            }
           
           #sexy {
                  text-align: center;
              }

              
           
           .mapa {
    width: 300px; /* Ancho del contenedor */
    height: 300px; /* Alto del contenedor */
    border-radius: 200px 200px 200px 200px;
-webkit-border-radius: 200px 200px 200px 200px;
-moz-border-radius: 200px 200px 200px 200px;
border: 15px solid #e4bd22; /* Radio de esquina redondeado */
    overflow: hidden; /* Asegúrate de que el contenido no sobresalga */
    background-color:skyblue; /* Fondo transparente para ver el borde detrás */
    box-shadow: 0 0 10px; /* Sombra para dar profundidad */
    position: relative; /* Posición relativa para futuras capas */
    margin: 40px auto; /* Margen superior e inferior, y centrado horizontalmente */
    display: flex; /* Para centrar verticalmente el contenido */
    justify-content: center; /* Centra horizontalmente el contenido */
    align-items: center; /* Centra verticalmente el contenido */

}
           
              #navbar{
             position: sticky;
               top: 0;
               overflow: hidden;
               background-color:yellowgreen;
               
           } 
           a{
            text-decoration: none;
               color: azure;
               margin-left: 60px;
               text-align: center;
           }
           
            a{
            text-decoration: none;
               color: azure;
               font-family: "Nanum Pen Script";
             font-style: normal;
             color: beige;
                font-size: 23px; 
           
           }

.anima{
    width: 200px;
    height: 200px;
    background-color: aqua;
    animation: escala 2s infinite;/*Nombre de la animación, tiempo, infinite*/
}
@keyframes mover {
    0% {
        transform: translateX(0);
    }
 
    50% {
        transform: translateX(50px);
    }
 
    100% {
        transform: translateX(0);
    }
}
 
@keyframes rotar {
    from {
        transform: rotate(0deg);
    }
 
    to {
        transform: rotate(360deg);
    }
}
 
@keyframes escala {
    0% {
        transform: scale(1);/*Tamaño original*/
    }
 
    50% {
        transform: scale(3);/*Tamaño grande*/
    }
 
    100% {
 
        transform: scale(1);
    }
}
           
           
/* Estilos del footer */
footer {
    background-color:firebrick;
    color: white;
    padding: 20px;
    text-align: center;
    clear: both; /* Para que el footer se muestre debajo de los elementos flotantes */
}

.contenedor-footer {
    max-width: 800px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

.copyright {
    text-align: center;
    margin-top: 20px;
}

    
    .info-contacto, .enlaces-sociales {
        flex-basis: 100%;
        margin-bottom: 20px;
    }

.inicio {
    display: block;
    text-align: center;
    margin-top: 20px;
    margin-left: 100px;
    padding: 10px;
    color: white;
    text-decoration: none;
    border-radius: 5px;
}
           
.mover {
    background-color:darkgoldenrod;
    padding: 10px;
    margin: 10px;
}

.caja {
    display: inline-block;
    width: 100px;
    height: 100px;
    background-color: darkblue;
    margin: 10px;
}

 .boton {
     background-color: darkred;
     color:darkolivegreen;
     padding: 10px;
     transition: background-color 0.3s;
     /*display block*/
     }

    .boton:hover {
        background-color:darkseagreen;
        /*cambia el color al pasar el cursor*/
     }



